@use '../../../app/styles/variables' as *;
@use '../../../app/styles/mixins' as *;

.filters {
  display: grid;
  grid-template-columns: repeat(3, minmax(170px, 1fr));
  gap: 12px;
}

@include mobile {
  .filters {
    grid-template-columns: 1fr;
  }
}
